[Unit]
Description=Drone-Tools
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/ploos-as/drone-tools:latest
ContainerName=drone-tools
PublishPort=8080:8080
Volume=drone-tools-data.volume:/data
ReadOnly=true
NoNewPrivileges=true
DropCapability=all

[Service]
Restart=on-failure

[Install]
WantedBy=default.target
